{% load static %}
<header>
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container container-fluid">
      <a class="navbar-brand" href="{% url "index" %}">Gustavo Schultz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url "about" %}">About me</a>
          <a class="nav-link" href="{% url "portfolio" %}">Portfolio</a>
          <a class="nav-link" href="{% url "contact" %}">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>
