body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.card-size{
    width: 100%;
}

.carrossel-img {
    object-fit: contain; /* Garante que a imagem seja redimensionada conforme necessário, mantendo suas proporções */
    width: 100%; /* Faz a imagem ocupar 100% da largura disponível */
    height: 100%; /* Faz a imagem ocupar 100% da altura disponível */
}

@media (min-width: 576px) {
    .card-size{
        max-width: 20rem;
    }
}
