{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}

<h4 class="mt-2 mt-sm-4 mb-3 text-light fs-4">{{ website_info.contact_title }}</h4>
<div class="row justify-content-lg-start justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8 col-10 text-center">
    {% if website_info.whatsapp_link %}
      <a href="{{ website_info.whatsapp_link }}" class="btn btn-secondary btn-block w-100 my-2"><i class="bi bi-whatsapp"></i> WhatsApp</a>
    {% endif %} 
    {% if website_info.github_link %} 
      <a href="{{ website_info.github_link }}" class="btn btn-secondary btn-block w-100 my-2"><i class="bi bi-github"></i> GitHub</a>
    {% endif %} 
    {% if website_info.linkedin_link %}  
      <a href="{{ website_info.linkedin_link }}" class="btn btn-secondary btn-block w-100 my-2"><i class="bi bi-linkedin"></i> LinkedIn</a>
    {% endif %} 
    {% if website_info.email %}  
      <a href="mailto:{{ website_info.email }}" class="btn btn-secondary btn-block w-100 my-2"><i class="bi bi-at"></i> E-mail</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
