{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}

  <h1 class="mt-5 mb-4 text-light fs-4">This is my Portfolio</h1>
  
  <div class="d-flex flex-column flex-sm-row justify-content-evenly align-items-center">

    {% if projects %}
    {% for project in projects%}
      <a href="{% url "project" project.id %}" class="card m-1 bg-black text-light clickable-card text-decoration-none d-block d-sm-inline-block card-size">
        {% if project.images.exists %}
          <img src="{{ project.images.first.image.url }}" class="card-img-top img-fluid" alt="Project Image">
        {% else %}
          <img src="{% static 'portfolio/assets/no_image.jpg' %}" class="card-img-top img-fluid" alt="Sorry, this project has no image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <div class="d-flex justify-content-end">
            {% if project.categories %}
              {% for category in project.categories.all %}
                <span class="badge text-bg-secondary mx-1">{{ category }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
    {% endif %}

  </div>

{% endblock content %}
