{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}

  <h1 class="mt-5 mb-4 text-light fs-4">This is my Portfolio</h1>
  
  <div class="d-flex justify-content-evenly">

    {% if projects %}
    {% for project in  projects%}
      <div data-bs-toggle="modal" data-bs-target="#{{ project.id }}" class="card mx-2 bg-black text-light clickable-card" style="width: 20rem;">
        <img src="{{ project.image.url }}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <div class="d-flex justify-content-end">
            {% if project.categories %}
            {% for category in project.categories.all %}
              <span class="badge text-bg-secondary mx-1">{{ category }}</span>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}

  </div>

  {% if projects %}
  {% for project in  projects %}
  <div class="modal fade text-light" data-bs-theme="dark" id="{{ project.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-body row">
                  <div class="col-lg-6">
                      <img src="{{ project.image.url }}" class="img-fluid rounded" alt="...">
                  </div>
                  <div class="col-md-6">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ project.name }}</h1>
                    <p class="my-1">{{ project.description }}</p>
                    <a href="{{ project.github_link }}" class="btn btn-secondary"><i class="bi bi-github"></i> GitHub Link</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
  {% endif %}

{% endblock content %}
