{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}

<div class="d-flex flex-column flex-sm-row justify-content-between align-items-md-center mt-2 mt-sm-4 mb-0 mb-sm-3">
  <h3 class="text-light fs-4 my-sm-auto">{{ website_info.portfolio_title }}</h3>

  <div class="d-flex flex-row justify-content-sm-end align-items-center col-sm-8 col-md-6">

    {% comment %} Category Tags {% endcomment %}
    {% if categories %}
      <div class="d-flex justify-content-sm-end justify-content-start flex-wrap align-items-center my-0">
        <a href="{% url 'portfolio' %}{% if order_by %}?order_by={{order_by}}{% endif %}" class="text-decoration-none m-1 badge {% if selected_tag %}bg-dark-subtle{% else %}text-bg-light{% endif %}">All Projects</a>
        {% for category in categories %}
          {% if category.slug == selected_tag %}
            <a href="{% url 'portfolio' %}{% if order_by %}?order_by={{order_by}}{% endif %}" class="text-decoration-none m-1 badge text-bg-light">{{ category.name }}</a>
          {% else %}
            <a href="{% url 'category' category.slug %}{% if order_by %}?order_by={{order_by}}{% endif %}" class="text-decoration-none m-1 badge bg-dark-subtle">{{ category.name }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% comment %} Order By Button: {% endcomment %}
    {% if projects.count > 1 %}
      <div class="dropdown">
        <button class="btn bg-dark-subtle dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Order By:
        </button>
        <ul class="dropdown-menu">
          {% for order_name, order_query in order_options %}
            <li><a class="dropdown-item text-light {% if order_by == order_query %}bg-light-subtle disabled" aria-current="true{% endif %}" href="?order_by={{order_query}}">{{order_name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  </div>
</div>

{% if projects %}
  <div class="d-flex flex-column flex-sm-row flex-wrap justify-content-around align-items-center w-100">
    {% for project in projects%}
      <a href="{% url 'project' project.id %}{% if selected_tag %}?tag={{selected_tag}}{% endif %}{% if order_by != 'publish_date'  %}{% if selected_tag %}&{% else %}?{% endif %}order_by={{order_by}}{% endif %}" class="card m-1 bg-black text-light clickable-card text-decoration-none d-block d-sm-inline-block card-size">
        <div class="card-img-container bg-body-tertiary">
          {% if project.images.exists %}
            <img src="{{ project.images.first.image.url }}" class="card-img-top img-fluid" alt="Project Image">
          {% else %}
            <img src="{% static 'portfolio/assets/no_image.jpg' %}" class="card-img-top img-fluid" alt="Sorry, this project has no image">
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <div class="d-flex justify-content-end">
            {% if project.categories %}
              {% for category in project.categories.all %}
                <span class="badge bg-dark-subtle mx-1">{{ category }}</span>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% else %}
  <h4 class="text-light fs-5 my-sm-auto">Sorry, there is no projects to display at the moment.</h4>
{% endif %}

{% endblock content %}
