{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}

  <div class="row mt-5">
    <div class="col-md-6">
      {% if project.images.exists %}
        <div id="project-carousel" class="carousel slide">
          <div class="carousel-inner rounded">
            {% for image in project.images.all %}
              <div class="carousel-item carousel-img-container bg-body-tertiary {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt }}">
              </div>
            {% endfor %}
          </div>
          {% if display_carousel_buttons %}
            <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          {% endif %}
        </div>
      {% else %}
        <img src="{% static 'portfolio/assets/no_image.jpg' %}" class="card-img-top img-fluid rounded" alt="Sorry, this project has no image">
      {% endif %}
    </div>

    <div class="col-md-6 d-md-flex mt-2 mt-sm-0 row align-content-between flex-wrap">
      <div>
        <h3 class="fs-5">{{ project.name }}</h3>
        {{ project.description|linebreaks }}
        {% if project.develop_date %} <p class="my-0 fs-7 text-body-tertiary">Developed: {{ project.develop_date|date:"b, Y" }}</p> {% endif %}
        <p class="my-0 fs-7 text-body-tertiary">Published: {{ project.publish_date|date:"b j, Y" }}</p>
        {% if project.github_link %} <a href="{{ project.github_link }}" class="btn btn-secondary my-0 col-xl-3 col-4"><i class="bi bi-github"></i> GitHub</a> {% endif %}
      </div>
      <div>        
        <a href="{% if tag %}{% url 'category' tag %}{% else %}{% url 'portfolio' %}{% endif %}{% if order_by %}?order_by={{order_by}}{% endif %}" class="btn btn-secondary my-2 mb-sm-0 col-xl-3 col-4">Return</a>
      </div>  
    </div>
  </div>

{% endblock content %}
